<!-- templates/edit.html
{% extends "header.html" %}
{% block content %} -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>plant_update</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<div class="container">
    <h1>Edit Food Item</h1>
    <form id="editForm" action="/{{item_id}}/update/" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" id="food" name="food" placeholder="Food" value="{{ item.food if item else '' }}" required>
        </div>
        <div class="mb-3">
            <input type="date" class="form-control" id="expiration_date" name="expiration_date" placeholder="Expiration Date" value="{{ item.expiration_date if item else '' }}" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes" value="{{ item.notes if item else '' }}">
        </div>
        <div class="mb-3">
            <select class="form-control" id="location" name="location" onchange="toggleNewLocationInput()">
                {% for location in locations %}
                    <option value="{{ location }}" {% if item and location == item.location %}selected{% endif %}>{{ location }}</option>
                {% endfor %}
                <option value="new">Add New Location</option>
            </select>
        </div>
        <div class="mb-3" id="newLocationDiv" style="display: none;">
            <input type="text" class="form-control" id="newLocation" name="newLocation" placeholder="New Location">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button onclick="deleteItem(this.form, `/${item_id}/consumed/`);" type="button" class="btn btn-danger" id="deleteButton">Delete</button>
        <a href="/{{item_id}}/plant_update" class="btn btn-primary">Update Plant</a>
    </form>
</div>
<script>
    // Include your JavaScript here
</script>
{% endblock %}
