<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>all_food</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/buttons.css">
    <link rel="stylesheet" href="assets/css/table.css">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body">
        <div class="container-fluid"><a class="navbar-brand" href="{{base_url}}">QuRky</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="{{base_url}}">Food</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{base_url}}/all_plants">Plants</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="text-white bg-dark border rounded border-0 p-4 p-md-5">
                    <h2 class="fw-bold text-white mb-3">All your food</h2>
                    <p class="mb-4">La Ti Da</p>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center border rounded">Food</th>
                            <th class="text-center border rounded">Time Left</th>
                            <th class="text-center border rounded">Location</th>
                            <th class="text-center border rounded">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center border rounded">
                        {% for item in food_items %}
                        <tr class="text-center border rounded">
                            <td class="text-center border rounded"><a href="{{base_url}}/{{item.id}}">{{item.food}}</a></td>
                            <td class="text-center border rounded">{{item.days_left}}</td>
                            <td class="text-center border rounded"><span style="color: rgb(33, 37, 41);">{{item.location}}</span></td>
                            <td class="text-center border rounded">
                                <div id="buttons"><a href="{{base_url}}/{{item.id}}/update"><button class="btn btn-primary" type="button" data-bs-target="{{base_url}}/{{item.id}}/update"><i class="fa fa-pencil-square-o" data-bs-toggle="tooltip" data-bss-tooltip="" title="edit plant details"></i></button></a><a href="{{base_url}}/{{item.id}}/consumed"><button class="btn btn-primary" type="submit"><i class="fa fa-trash" data-bs-toggle="tooltip" data-bss-tooltip="" title="remove row"></i></button></a><a href="#"><button class="btn btn-primary" type="button"><i class="fa fa-camera" data-bs-toggle="tooltip" data-bss-tooltip="" title="add or view image"></i></button></a></div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="text-center border rounded"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/plants.js"></script>
</body>

</html>