<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>plant_update</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body">
        <div class="container-fluid"><a class="navbar-brand" href="index.html">QuRky</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Food</a></li>
                    <li class="nav-item"><a class="nav-link" href="all_plants.html">Plants</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--<link rel="stylesheet" href="/static/bootstrap.min.css">

<script src="/static/bootstrap.min.css"></script>
-->
    <div>
        {% if plant_item %}
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="text-white bg-dark border rounded border-0 p-4 p-md-5">
                    <h2 class="fw-bold text-white mb-3">Your {{plant_name}}'s Journey</h2>
                    <p class="mb-4">Information about plant</p>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center border rounded">Day</th>
                            <th class="text-center border rounded"><span style="color: rgb(33, 37, 41);">Variable</span></th>
                            <th class="text-center border rounded">Location</th>
                            <th class="text-center border rounded">Notes</th>
                            <th class="text-center border rounded">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center border rounded">
                        <tr class="text-center border rounded">
                            {% for plant_item in plant_items %}
                            <td class="text-center border rounded">{{plant_item.day_from_zero}}</td>
                            <td class="text-center border rounded"><span style="color: rgb(33, 37, 41);">{{plant_item.task}}</span></td>
                            <td class="text-center border rounded"><span style="color: rgb(33, 37, 41);">{{plant_item.location}}</span></td>
                            <td class="text-center border rounded"><span style="color: rgb(33, 37, 41);">{{plant_item.notes}}</span></td>
                            <td class="border rounded">
                                <div id="buttons">
                                    <form><button class="btn btn-primary" type="button"><i class="fa fa-scissors" data-bs-toggle="tooltip" data-bss-tooltip="" title="harvest or cull plant"></i></button></form>
                                    <form><button class="btn btn-primary" type="button"><i class="fa fa-pencil-square-o" data-bs-toggle="tooltip" data-bss-tooltip="" title="edit plant details"></i></button></form>
                                    <form><button class="btn btn-primary" type="button"><i class="fa fa-camera" data-bs-toggle="tooltip" data-bss-tooltip="" title="add or view image"></i></button></form>
                                    <form method="post" action="{{base_url}}/{{plant_item.id}}/remove_plant"><input class="form-control" type="hidden" name="plant_stage" value="{{ plant_item.plant_stage }}"><input class="form-control" type="hidden" name="pk" value="{{ plant_item.pk }}"><button class="btn btn-primary" type="submit"><i class="fa fa-trash" data-bs-toggle="tooltip" data-bss-tooltip="" title="remove row"></i></button></form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    <div>
        {% if not plant_item %}
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="text-center text-white bg-dark border rounded border-0 p-4 p-md-5">
                    <h2 class="fw-bold text-white mb-3">Spill the T on your plant</h2>
                    <p class="mb-4"></p>
                </div>
            </div>
        </section>
        {% endif %}
        <div class="d-flex justify-content-center">
            <div class="container text-start d-xxl-flex justify-content-xxl-center" id="form-container">
                <form action="/{{item_id}}/plant_update/" method="post">
                    {% if not plant_item %}<input class="form-control d-xxl-flex" type="text" name="plant_name" placeholder="Plant">
                    {% endif %}<input class="form-control d-xxl-flex" type="text" name="location" placeholder="Location"><input class="form-control d-xxl-flex" type="text" name="task" placeholder="Task"><input class="form-control d-xxl-flex" type="date" name="task_date"><input class="form-control d-xxl-flex" type="text" name="notes" placeholder="Notes"><input class="form-control d-xxl-flex" type="hidden" name="plant_name" value="{{ plant_name }}"><input class="form-control d-xxl-flex" type="hidden" name="removed" value="false"><button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
</body>

</html>