<!-- templates/view.html -->
{% extends "header.html" %}
{% block content %}
<style>
    .container {
        max-width: 600px;
        padding: 2rem;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 50px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .bold-num {
        font-weight: bold;
        font-size: 1.25rem;
    }
    .small-text {
        font-size: 0.9rem;
    }
    button {
        margin-top: 10px;
    }
    a {
        text-decoration: none;
    }
</style>
<div class="container">
    <h1>{{ item.food }}</h1>
    <p>
        <span class="bold-num">Age:</span>
        <span class='bold-num time' data-days="{{ item.days_old }}"></span> 
        <span class="small-text">(added {{ item.date_added.strftime('%m-%d-%Y') }})</span>
    </p>
    <p>
        <span class="bold-num">Time Left:</span>
        <span class='bold-num time' data-days="{{ item.days_left }}"></span> 
        <span class="small-text">(expires {{ item.expiration_date.strftime('%m-%d-%Y') }})</span>
    </p>
    <button><a href="{{ url_for('edit_food_item', item_id=item.id) }}">Edit</a></button>
</div>

<script type="text/javascript">
function updateTimeElement(cell) {
    var days = parseInt(cell.getAttribute('data-days'));

    if (days > 30) {
        var months = Math.floor(days / 30);
        var remainingDays = days % 30;
        cell.innerText = months + ' mo ' + remainingDays + ' days';
    } else {
        cell.innerText = days + ' days';
    }
}

var timeCells = document.querySelectorAll('.time');

timeCells.forEach(function(cell) {
    updateTimeElement(cell);
});


    </script>

{% endblock %}