<!-- templates/view.html -->
{% extends "header.html" %}
{% block content %}
<style>
    .container {
        max-width: 600px;
        padding: 2rem;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 50px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .bold-num {
        font-weight: bold;
        font-size: 1.25rem;
    }
    .small-text {
        font-size: 0.9rem;
    }
    button {
        margin-top: 10px;
    }
    a {
        text-decoration: none;
    }
</style>
<div class="container">
    <h1>{{ item.food }}</h1>
    <h2>{{ item.days_old }}</h2>
    <p class="bold-num"> Days Old <span class="small-text">({{ item.date_added }})</span></p>
    <h2>{{ item.days_left }}</h2>
    <p class="bold-num"> Days Left <span class="small-text">days until expire ({{ item.expiration_date }})</span></p>
    <button><a href="{{ url_for('edit_food_item', item_id=item.id) }}">Edit</a></button>
    <button><a href="{{ url_for('view_add_food_item', item_id=item.id) }}">Add New Item to QR Code</a></button>
</div>
{% endblock %}
