input[type="text"], input[type="date"] {
  width: 500px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  max-width: 300px;
}

/* Style the submit button */

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  width: 25%;
}

@media (min-width: 1400px) {
  #buttons {
    display: flex;
  }
}

