.fit-cover {
  object-fit: cover;
}

.day {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

