{% block content %}
  <h1>Add New Food Item</h1>
  <form action="/{{ item_id }}/add" method="post">
    <label for="food">Food:</label>
    <input type="text" id="food" name="food" required>
    <br>
    <label for="expiration_date">Expiration Date:</label>
    <input type="date" id="expiration_date" name="expiration_date" required>
    <br>
    <label for="reminder_date">Reminder Date:</label>
    <input type="date" id="reminder_date" name="reminder_date" required>
    <br>
    <label for="suggested_expiration_date">Suggested Expiration Date:</label>
    <input type="date" id="suggested_expiration_date" name="suggested_expiration_date" required>
    <br>
    <input type="submit" value="Add">
  </form>
{% endblock %}
