<!DOCTYPE html>
<html>
<head>
    <title>Edit Food Item</title>
</head>
<body>
    <h1>Edit Food Item</h1>
    <form action="/{{ item.id }}/update/" method="post">
        <label for="food">Food:</label>
        <input type="text" id="food" name="food" value="{{ item.food }}" required>
        <br>
        <label for="expiration_date">Expiration Date:</label>
        <input type="date" id="expiration_date" name="expiration_date" value="{{ item.expiration_date }}" required>
        <br>
        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes" value="{{ item.notes }}" required>
        <br>
        <input type="submit" value="Update">
        <form id="variable-form">
            <input type="hidden" id="my-variable" name="variable_value" value="{{ variable_value }}">
            <button type="submit">Send variable to FastAPI</button>
        </form>
    </form>
</body>
</html>