<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Food Item</title>
</head>
<body>
    <h1>Edit Food Item</h1>
    <form action="/update/{{ item.id }}" method="post">
        <label for="food">Food:</label>
        <input type="text" id="food" name="food" value="{{ item.food }}" required>
        <br>
        <label for="expiration_date">Expiration Date:</label>
        <input type="date" id="expiration_date" name="expiration_date" value="{{ item.expiration_date }}" required>
        <br>
        <label for="reminder_date">Reminder Date:</label>
        <input type="date" id="reminder_date" name="reminder_date" value="{{ item.reminder_date }}" required>
        <br>
        <label for="suggested_expiration_date">Suggested Expiration Date:</label>
        <input type="date" id="suggested_expiration_date" name="suggested_expiration_date" value="{{ item.suggested_expiration_date }}" required>
        <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>
