{% extends "index.html" %}

{% block content %}
  <div class="container">
    <h2>Edit Food Item</h2>
    <form method="post" action="/update_food">
      <input type="hidden" name="food_id" value="{{ food.id }}">
      
      <div class="form-group">
        <label for="food">Food:</label>
        <input type="text" class="form-control" id="food" name="food" value="{{ food.food }}" required>
      </div>

      <div class="form-group">
        <label for="date_added">Date Added:</label>
        <input type="date" class="form-control" id="date_added" name="date_added" value="{{ food.date_added }}" required>
      </div>

      <div class="form-group">
        <label for="expiration_date">Expiration Date:</label>
        <input type="date" class="form-control" id="expiration_date" name="expiration_date" value="{{ food.expiration_date }}" required>
      </div>

      <div class="form-group">
        <label for="reminder_date">Reminder Date:</label>
        <input type="date" class="form-control" id="reminder_date" name="reminder_date" value="{{ food.reminder_date }}" required>
      </div>

      <div class="form-group">
        <label for="suggested_expiration_date">Suggested Expiration Date:</label>
        <input type="date" class="form-control" id="suggested_expiration_date" name="suggested_expiration_date" value="{{ food.suggested_expiration_date }}" required>
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
{% endblock %}
