<!-- templates/header.html -->
<header style="background-color: #FFC107; padding: 10px;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <a href="https://qrfood.herokuapp.com/">
            <img src="https://qrfoodcodes.s3.amazonaws.com/logo.png" alt="Logo" style="height: 40px;">
        </a>
        <div style="width: 20px;"></div>
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for('edit_food_item') }}">Home</a></li>
        </ul>
    </nav>
</header>

