{% block content %}
<h2>View Food Item</h2>
<table>
    <tr>
        <th>Food</th>
        <td>{{ item.food }}</td>
    </tr>
    <tr>
        <th>Date Added</th>
        <td>{{ item.date_added }}</td>
    </tr>
    <tr>
        <th>Days Old</th>
        <td>{{ item.days_old }}</td>
    </tr>
    <tr>
        <th>Expiration Date</th>
        <td>{{ item.expiration_date }}</td>
    </tr>
    <tr>
        <th>Days Left</th>
        <td>{{ item.days_left }}</td>
    </tr>
</table>
<button><a href="{{ url_for('edit_food_item', item_id=item.id) }}">Edit</a></button>
{% endblock %}
